header {
    width: auto;
    height: auto;
    display: flex;
}

.main {
    width: auto;
    height: 600px;
    background: #F3F5FC;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 31px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.logo img {
    width: 31px;
    height: 48px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logo p {
    font-size: 2.5rem;
    font-family: 'italic';
}

.mensaje {
    position: absolute;
    width: 600px;
    height: 280px;
    left: 100px;
    top: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    border-radius: 24px;
    padding: 32px 32px;
    border-color: #F3F5FC;
    background: #F3F5FC;
}

.advertencia {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 100px;
    top: 450px;
}

.logo-advertencia {
    width: 16px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.texto-advertencia {
    width: 205px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones-funcion {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 100px;
    top: 500px;
}

.encriptar {
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: white;
    border: none;
    font-size: 18px;
}

.encriptar:hover {
    background: #0a715b;
    border: 1px solid #0A3871;
    color: black;
    transform: scale(1.1);
    transition: 1s all;
}

.desencriptar {
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #0A3871;
    font-size: 18px;
}

.desencriptar:hover {
    background-color: #4CAF50;
    color: white;
    border: none;
    transform: scale(1.1);
    transition: 1s all;
}

.resultado {
    position: absolute;
    width: 340px;
    height: 490px;
    left: 870px;
    top: 40px;
    right: 40px;
    padding: 32px 32px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    border: none;
    font-size: 25px;
}

.copiar-texto {
    position: absolute;
    width: 336px;
    height: 67px;
    left: 902px;
    top: 500px;
    box-sizing: border-box;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    background: white;
    border: 1px solid #0A3871;
    border-radius: 24px;
    text-align: center;
    color: #0A3871;
    font-size: 18px;
}

.copiar-texto:hover {
    background: rgb(47, 136, 36);
    transform: scale(1.1);
    transition: 1s all;
    color: white;

}

.muneco {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 902px;
    top: 50px;
}

.texto-resultado {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 336px;
    height: 122px;
    left: 902px;
    top: 350px;
}

.texto-resultado p1 {
    width: 336px;
    height: 58px;
    font-size: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.texto-resultado p2 {
    width: 336px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


footer {
    position: relative;
    top: 0px;
    width: auto;
    height: auto;
    text-align: center;
    background-image: url(resourses/footer.png);
    font-size: 18px;
}

footer p {
    color: white;
    padding: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}


/*
    Adaptacion para dispositivos moviles 
*/
@media screen and (max-width:390px) {

    .main {
        width: auto;
        height: 1390px;
    }

    .logo {
        width: auto;
        position: absolute;
        align-items: center;
        left: 4.27%;
        right: 87.2%;
        top: 2%;
        bottom: 25%;
    }

    .mensaje {
        display: flex;
        align-items: center;
        width: auto;
        height: 30%;
        left: 5%;
        right: 5%;
        top: 152px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        color: #0A3871;
        padding: 5px;
    }


    .advertencia {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;
        position: absolute;
        width: auto;
        height: 18px;
        left: 5%;
        right: 5%;
        top: 451px;
    }

    .botones-funcion {
        flex-direction: column;
        align-items: center;
        padding: 5px;
        width: auto;
        left: 2%;
        right: 2%;
    }

    .encriptar,
    .desencriptar {
        width: 90%;
        height: 67px;
    }

    .resultado {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        width: auto;
        height: 30%;
        left: 5%;
        right: 5%;
        top: 707px;
    }

    .muneco {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 5%;
        right: 5%;
        top: 707px;
    }

    #muneco {
        padding: 1px;
        width: 50%;
        height: auto;
    }

    .texto-resultado {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 5%;
        right: 5%;
        top: 850px;
    }

    .copiar-texto {
        width: auto;
        top : 890px;
        left: 10%;
        right: 10%;
        display: none;
    }


    footer {
        position: absolute;
        top: 1000px;
        width: auto;
        height: 80px;
        text-align: center;
    }

    footer p {
        padding: 10px;
    }

}